<tr>
    <td>{{this.position}}</td>
    <td>{{this.team_shortName}}</td>
    <td>{{this.played}}</td>
    <td>{{this.won}}</td>
    <td>{{this.drawn}}</td>
    <td>{{this.lost}}</td>
    <td>{{this.goalsFor}}</td>
    <td>{{this.goalsAgainst}}</td>
    <td>{{this.goalsDifference}}</td>
    <td>{{this.points}}</td>
</tr>