<tr>
    <td>{{this.position}}</td>
    <td>{{this.team_shortName}}</td>
    <td>{{this.overall_played}}</td>
    <td>{{this.overall_won}}</td>
    <td>{{this.overall_draw}}</td>
    <td>{{this.overall_lost}}</td>
    <td>{{this.overall_goalsFor}}</td>
    <td>{{this.overall_goalsAgainst}}</td>
    <td>{{this.overall_goalsDifference}}</td>
    <td>{{this.overall_points}}</td>
</tr>